ul,
li,
h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
    list-style: none
}

h2 {
    padding-bottom: 15px
}

a {
    text-decoration: none;
    color: #000
}

html {
    background: rgb(235, 225, 225)
}

img {
    max-width: 100%;
    display: block
}

body {
    line-height: 24px;
    margin: 0
}

.main {
    width: 1200px;
    margin: 0 auto;
}

.clear {
    clear: both
}

.menu li {
    list-style: none
}

.banner {
    margin-bottom: 10px;
    position: relative;
    clear: both
}

.menu {
    width: 100%;
    text-align: center;
    background: #00CCCC;
    margin-bottom: 20px;
    position: relative;
    z-index: 55;
    float: left
}

.menu li a {
    color: #fff
}

.menu li {
    float: left;
    font-size: 16px;
    padding: 7px 30px;
    width: 140px
}

.content {
    padding-bottom: 20px;
    font-size: 14px;
    display: inline-block;
    width: 100%
}

.end {
    clear: both;
    padding: 20px 0;
    background: #00CCCC;
    color: #fff;
    text-align: center;
}

.pad {
    padding: 20px;
    display: block
}

.scrollleft {
    padding-bottom: 15px
}

.scrollleft li {
    width: 296px;
    margin: 2px;
    float: left
}

.scrollleft2 ul {
    white-space: nowrap;

    text-overflow: ellipsis;
}

.scrollleft2 li {
    width: 220px;
    margin: 2px;
    float: left
}

.imglist li {
    width: 31.3%;
    float: left;
    margin: 1%;
}

.fl {
    float: left
}

.fr {
    float: right
}

.bar {
    margin-bottom: 10px;
    padding: 5px 0;
    color: #fff;
    background: #00CCCC;
}

.bar h3,
.bar h2 {
    padding-left: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 18px;
}

.head {
    background: #fff;
    font-size: 36px;
    padding: 0px 0
}

.ass {
    margin: 10px
}

.ass li {
    width: 48%;
    margin: 1%;
    float: left;
    text-align: center
}

.cc li img {
    border: #6b639f solid 1px;
    padding: 5px
}

#zhuce {
    width: 500px;
    margin: 0 auto;
    line-height: 40px;
    padding: 20px
}

#zhuce label {
    text-align: right;
    display: inline-block;
    width: 150px
}

.div {
    display: inline-block;
    width: 300px
}

#content {
    width: 1200px;
    height: 160px;
    position: relative;
    overflow: hidden
}

#content ul {
    width: 1200px;
    height: 160px;
    position: absolute
}

#content ul li {
    width: 220px;
    height: 160px;
    float: left
}

.form .nam {
    margin: 10px 0
}

.inp {
    width: 240px
}

.form input {
    padding: 10px;
}

.focus {
    height: 485px;
    overflow: hidden;
    position: relative;
}

/* focus_s */
.focus_s {
    position: absolute;
    left: 50%;
    bottom: 5%;
    height: 13px;
    overflow: hidden;
    width: 110px;
    z-index: 9;
    margin: 0 0 0 -30px;
}

.focus_s li {
    float: left;
    cursor: pointer;
    height: 13px;
    width: 12px;
    overflow: hidden;
    margin-right: 10px;
    background: url(../images/dian.png) no-repeat;
}

.focus_s li.active {
    background-position: -12px 0;
}

/* focus_m */
.focus_m ul {
    opacity: 1;
    filter: alpha(opacity=100);
}

.focus_m li {
    width: 100%;
    height: 485px;
    position: absolute;
    top: 0;
    left: 0;
}

/* focus_l focus_r */
.focus_l,
.focus_r {
    position: absolute;
    display: block;
    width: 50px;
    height: 75px;
    overflow: hidden;
    z-index: 2;
    top: 190px;
}

.focus_l {
    left: 0;
}

.focus_r {
    right: 0;
}

.focus_l b,
.focus_r b {
    position: absolute;
    z-index: 1;
    display: block;
    width: 50px;
    height: 75px;
    overflow: hidden;
    background: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
    cursor: pointer;
}

.focus_l span,
.focus_r span {
    display: inline-block;
    position: relative;
    z-index: 2;
    width: 22px;
    height: 33px;
    top: 21px;
    cursor: pointer;
    margin-right: 28px;
}

.focus_l span {
    left: 12px;
    background-image: url(../images/l.png);
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/l.png');
}

.focus_r span {
    left: 16px;
    background: url(../images/r.png) 0 0 no-repeat;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/r.png');
}

.focus_l:hover b,
.focus_r:hover b {
    opacity: 0.5;
    filter: alpha(opacity=50);
}